.find-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.find-icons__icon {
  text-align: center;
}

.find-icons__icon i {
  font-size: 30px;
  margin-bottom: 10px;
}

.find-friends {
  height: 30vh;
  border-top: var(--border);
}

.find-friends__text {
  padding: 10px 0px;
  color: gray;
}

.find-open-chat {
  border-top: var(--border);
  padding: 10px 0px;
}
.find-open-chat__channel-header {
  display: flex;
  justify-content: space-between;
}

.find-open-chat__channel__list {
  display: flex;
  justify-content: space-between;
}

.open-chat__channel__list {
  display: flex;
  flex-direction: column;
}

.open-chat__channel__user img {
  width: 10px;
}

.open-chat__channel__photo img {
  width: 20px;
}
