/* .alt-header {
  margin: 20px;
}

.alt-header__column {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.alt-header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column button {
  border: none;
  color: rgb(43, 43, 43);
  background-color: transparent;
  /* font-size: 20px; */

  cursor: pointer;
}
