.user-component,
.user-component__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-component__image {
  background-color: pink;
  border-radius: 15%;
  margin-right: 10px;
}

.user-component__image--xl {
  width: 55px;
  height: 55px;
}

.user-component__text--xl {
  font-weight: bolder;
  font-size: 25px;
}

.user-component__image--sm {
  width: 35px;
  height: 35px;
}

.user-component__text--sm {
  /* font-weight: bolder; */
  font-size: 20px;
}

.user-component__text--sm p {
  padding-top: 5px;
  font-size: 15px;
  color: gray;
}

.friens-screen__channel {
  margin: 20px 0px 20px 0px;
  border-top: var(--border);
}

.friens-screen__channel-header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.user-component__chat {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.user-component__time {
  padding-bottom: 5px;
}
