.welcome-header {
  margin-top: 145px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}

.welcome-header__text {
  width: 50%;
  color: gray;
  margin-bottom: 60px;
}
